html {
    height: 100%;
    background-image: conic-gradient(from 90deg, red, green, blue, red );
    opacity: 0.95;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}
.content {
    flex: 1;
  }
button {
    font-size: 18px;
    background-color: green;
    border-radius: 8px;
    font-weight: 600;
    width: 220px;
    height: 50px;
    margin-left: 20px;
}
button:hover {
    font-size: 18px;

    font-weight: 600;
    box-shadow: 5px;
    animation-duration: 1s;
    animation-name: example3;
    animation-fill-mode: forwards;
}
@keyframes example3 {
    from {
      padding-left: 0px;
    }
    to {
      padding-left: 40px;
    }
    from {
      background-color: #6ee533;
    }
    to {
      background-color: #121aa7;
    }
    from {
      color: #121aa7;
    }
    to {
      color:  #6ee533;
    }
    from {
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6), 6px 6px 6px ;
    }
    to {
      box-shadow: 4px 4px 6px  #6ee533, 5px 5px 25px;
    }
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    color: blue;
    text-shadow: 4px 4px 15px white, -1px -1px 3px white;
}
h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    color: blue;
    text-shadow: 2px 3px 10px white, -1px -1px 3px white;
}
h3 {
    font-size: 20px;
    display: inline-block;
    text-align: left;
    margin: 100px;
    padding: 0px;
    color: gainsboro;
}
form {
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateX(20deg);
    background-image: linear-gradient(to right, rgb(186, 231, 186),blue,indigo);
}
label {
    display: block;
    margin-bottom: 10px;
    color: black;
}
input,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    transition: border-color 0.3s ease;
    background-image: linear-gradient(to right, gray,white);
}
footer {
    text-align: center;  
    font-size: 20px;
    border-top-style: solid;
    border-color: black;
    color: blue;
    text-shadow: 1px 1px 3px white, -1px -1px 3px white;
    width: 100%;
    flex-shrink: 0;
}
table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    color: #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: gray;
}

tr:hover {
    background-color: rgb(79, 145, 14);
}

a {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}
#other_hobby_input::placeholder {
    color: blue;
    width: 80%;
  }
#other_hobby_input {
    width: 60%;
    margin-left: 30px;
    margin-top: 10px;
}
#go_back {
    padding: 20px;
    margin-left: 40px;
}
@media only screen and (max-width: 500px) {
  
    html {
        height: 100%;
        background-image: conic-gradient(from 90deg, red, green, blue, red );
        opacity: 0.95;
        padding: 5px;
        box-sizing: border-box;
        position: relative;
        background-size: cover;
        background-attachment: fixed; 
        flex-shrink: 0;
    }
    button {
        font-size: 20px;
        background-color: green;
        border-radius: 8px;
        font-weight: 600;
        width: 180px;
        height: 40px;
        margin-left: 10px;
    }
    button:hover {
        font-size: 20px;
    }
    @keyframes example3 {
        from {
          padding-left: 0px;
        }
        to {
          padding-left: 20px;
        }
        from {
          background-color: #6ee533;
        }
        to {
          background-color: #121aa7;
        }
        from {
          color: #121aa7;
        }
        to {
          color:  #6ee533;
        }
        from {
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6), 6px 6px 6px ;
        }
        to {
          box-shadow: 4px 4px 6px  #6ee533, 5px 5px 25px;
        }
    }
    
    h1 {
        font-size: 20px;

    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
        display: inline-block;
        text-align: left;
        margin: 10px;
        padding: 0px;
        color: gainsboro;
    }
    form {
        width: 300px;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: black;
    }
    input,
    select {
        width: 100%;
        padding: 5px;
    }
    footer {
        text-align: center;  
        font-size: 15px;
        flex-shrink: 0;
    }
    table {

        margin-left: 10px;
        margin-right: 10px;
    }
    
    th, td {
        padding: 8px;
    }
    
    
    #other_hobby_input {
        width: 60%;
        margin-left: 10px;
        margin-top: 10px;
    }
    #go_back {
        padding: 5px;
        margin-left: 5px;
    }
  }